body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
  margin: 10px;
  padding: 5px;
  font-size: 16pt;
}

.employee-name, .address {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.topping-disabled {
  color: gray;
}

.pizza-size {
  text-transform: uppercase;
}

.topping {
  text-transform: capitalize;
  padding-left: 10px;
}

.topping-selector, .topping-selector input {
  cursor: pointer;
}

.topping-select-container {
  display: flex;
}

.topping-list {
  width: 300px;
}

.cost-table-label-col {
  width: 200px;
}

.cost-table-price-col {
  width: 150px;
  text-align: right;
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}